
// -------------------------
//  Variables
// -------------------------

// Primary font using in application
$page-font: 'Quicksand', sans-serif;

// Font size configuration
$font-size-small: 0.85rem;
$font-size-normal: 1rem;
$font-size-extra-normal: 1.1rem;
$font-size-big: 1.25rem;
$font-size-huge: 2.75rem;

// Font weight configuration
$light-weight: 100;
$semi-light-weight: 200;
$light-bold-weight: 500;
$regular-weight: 400;
$bold-weight: 600;
$ultra-bold-weight: 700;

// Page colors
$app-color-green: #1ec177;
$app-color-blue: #680ce0;
$app-color-red: #ff3062;
$app-color-dark: #363434;
$app-color-gray: #5f5f5f;
$app-color-silver: #cecece;
$app-color-lsilver: #F9F9F9;
$app-color-white: #ffffff;
$app-no-color: transparent;
